@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

body{
    @apply bg-gray-50;
}

[x-cloak]{
    display: none !important;
}

.title {
    font-family: 'Geologica', sans-serif;
}

@font-face {
    font-family: 'race';
    src: url('../fonts/race_sports.ttf');
}

.race {
    font-family: 'race';
}

.overlay{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.770018115942029) 83%);
    @apply absolute top-0 left-0 w-full h-full;
}